.review {
  border-radius: 30px;
  border: 1px solid;
  border-color: var(--text-100);
  /* padding: 5px; */
  /* margin: var(--margin-out); */
  width: 100%;
  margin-top: 20px;
  background-color: var(--bg-0);
}

.review--somm {
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 30px;
  /* margin: var(--margin-out); */
  margin: 20px 0;
  background-color: var(--bg-0);
}

.review__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__user {
  display: flex;
  padding: 10px 10px 10px 20px;
  align-items: center;
}

.review__userIcon > svg {
  margin: 5px;
  color: var(--primary);
  width: 20px;
  height: 20px;
}

.review__userImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid var(--text-100);
}

.review__userImage > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 0.5rem;
}

.review__userInfo {
}

.review__userName {
  font-size: 15px;
  padding-bottom: 2px;
}

.review__userDate {
  font-size: x-small;
}

.review__userRate {
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--text-100);
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 5px 15px 5px 5px;
  color: var(--bg-0);
  background-color: var(--text-100);
  margin-right: 10px;
}

.review__userRate--somm {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 5px 15px 5px 5px;
  color: var(--bg-0);
  margin-right: 10px;
}

.review__userRate > svg {
  margin: 4px;
}
.review__userRate--somm > svg {
  margin: 4px;
}
.review__tag {
  display: flex;
  padding: 0px 0px 0px 20px;
}

.review__indTag {
  border-radius: 20px;
  border: 1px solid var(--primary);
  padding: 3px 7px;
  margin: 0 3px;
  color: var(--primary);
}

.review__content {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
}
