.ticketModal__create:hover {
  cursor: pointer;
}

.ticketModal--inactive {
  display: none;
}

.ticketModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 700;
  background-color: var(--bg-20);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.ticketModal__container {
  width: 480px;
  display: flex;
  flex-direction: column;
  margin: var(--margin-out);
}
.ticketModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 2rem;
}
.ticketModal__header-title {
  font-size: var(--size-title);
}

.ticketModal__top-close {
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.ticketModal__create {
  align-self: flex-start;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: var(--margin-out);
  display: flex;
  align-items: center;
}

.ticketModal__create > svg {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.ticketModal_box_container {
  color: var(--text-100);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 var(--margin-out) 1.5rem var(--margin-out);
}
.ticketModal_answer_box {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  border-radius: 0 0 30px 30px;
  margin-top: -0.75rem;
  z-index: -1;
  padding: 1.75rem 1rem 1rem 0;
}

.ticketModal_answer,
.ticketModal_answer1,
.ticketModal_answer2 {
  display: none;
  margin-left: 20px;
}

.ticket__button__text {
  margin-left: 1rem;
  color: var(--text-100);
}
.ticketModal_checkicon {
  margin-right: 1rem;
  border-radius: 100%;
  display: flex;
  color: green;
}
.ticketModal__progressicon {
  margin-right: 1rem;
  border-radius: 100%;
  background-color: yellow;
  color: white;
  display: flex;
}
