.ticketModal__create:hover {
  cursor: pointer;
}

.ticketModal--inactive {
  display: none;
}

.ticketModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 700;
  background-color: var(--bg-20);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.ticketModal__container {
  width: 480px;
  display: flex;
  flex-direction: column;
  margin: var(--margin-out);
}
.ticketModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 2rem;
}
.ticketModal__headerTitle {
  font-size: var(--size-title);
}

.ticketModal__topClose {
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.ticketModal__create {
  align-self: flex-start;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: var(--margin-out);
  display: flex;
  align-items: center;
}

.ticketModal__create > svg {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
/* tempTicket (사용자가 새로 입력하는 내용에 대한 css 추가*/
.ticketModal__temp {
  /* border: 1px solid black; */
  padding: 15px;
  margin: 10px 0;
  border-radius: 30px;
  background-color: var(--bg-0);
}

.ticketModal__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.ticketModal__tempTitle {
  display: flex;
  align-items: center;
}

.ticketModal__tempTitleTitle,
.ticketModal__tempTitleInput {
  margin: 0 3px;
}

.ticketModal__tempTitleTitle {
  width: 30px;
}

.ticketModal__tempTitleInput {
  width: 90%;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: normal;
  border: none;
  /* border-bottom: 1.5px solid grey; */
  border: 0.5px solid grey;
  outline: none;
  background-color: transparent;
}

.ticketModal__tempContent {
  /* display: flex; */
}
.ticketModal__tempContentTitle,
.ticketModal__tempContentInput {
  margin: 3px 0;
}

.ticketModal__tempContentTitle {
  width: 30px;
}

.ticketModal__tempContentInput {
  width: 99%;
  overflow: auto;
  /* text-overflow: ellipsis; */
  white-space: pre-wrap;
  border: 0.5px solid grey;
  outline: none;
  background-color: transparent;
  min-height: 4rem;
  /* border: none; */
}

.ticketModal__button {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
}

.ticketModal__tempSubmit {
  border: none;
  background-color: var(--primary);
  border-radius: 30px;
  color: var(--bg-0);
  padding: 5px;
  font-size: 15px;
}

/*  */

.ticketModal_boxContainer {
  color: var(--text-100);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 var(--margin-out) 1.5rem var(--margin-out);
}
.ticketModal_answer_box {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  border-radius: 0 0 30px 30px;
  margin-top: -0.75rem;
  z-index: -1;
  padding: 1.75rem 1rem 1rem 0;
}

.ticketModal_answer,
.ticketModal_answer1,
.ticketModal_answer2 {
  display: none;
  margin-left: 20px;
}

.ticket__button__text {
  margin-left: 1rem;
  color: var(--text-100);
}
.ticketModal_checkicon {
  margin-right: 1rem;
  border-radius: 100%;
  display: flex;
  color: green;
}
.ticketModal__progressicon {
  margin-right: 1rem;
  border-radius: 100%;
  background-color: yellow;
  color: white;
  display: flex;
}
