button:hover {
  cursor: pointer;
}

.wine {
  width: calc(100% - 3rem);
  margin-top: var(--margin-out);
  border-radius: 30px;
  border: solid 1px var(--primary);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-20);
}

.wine--recomm {
  width: calc(100% - 3rem);
  /* margin-top: var(--margin-out); */
  min-height: 7rem;
  height: auto;
  /* border-radius: 30px; */
  border-bottom: solid 1px var(--primary);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-20);
}

.wine__image {
  display: flex;
  justify-content: center;
  width: 30%;
}

.wine__image > a > img {
  width: 66%;
}

.wine__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}

.wine__nameTitle {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.wine__nameTitle > a {
  color: var(--primary);
}
/* 
.wine__nameTitle:hover {
  text-decoration: underline;
  opacity: 0.8;
} */

.wine__grapeTitle {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
}
.wine__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.wine__rate {
  font-size: var(--size-title);
  color: var(--primary);
  font-weight: bold;
}

.wine__price {
  font-size: 2rem;
}
.wine__image--recomm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

.wine__image--recomm > img {
  width: 100%;
}
.wine__image--recomm > a > img {
  width: 100%;
}
.wine__detail--recomm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

.wine__nameTitle--recomm {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.wine__nameTitle--recomm > a {
  color: var(--primary);
  margin: 0 5px;
}

.wine__grapeTitle--recomm {
  font-size: 1rem;
  text-align: right;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.wine__grapeTitle--recomm > div {
  margin: 0 8px;
  /* display: flex;
  align-items: center; */
}

.wine__tags--recomm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.wine__rate--recomm {
  font-size: 20px;
  color: var(--primary);
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--bg-0);
  width: fit-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}

.wine__price--recomm {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

.wine__specific--recomm {
  display: flex;
}
