.verifysomm {
    margin: var(--margin-out);
    width: 100%;
}

.verifysomm__title {
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    /* font-size: var(--size-title); */
    /* font-weight: bold; */
    align-items: center;
}

.verifysomm__title-title {
    font-size: var(--size-title);
}

.verifysomm__verify {}

.verifysomm__verify-ind {
    background-color: var(--bg-0);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 3rem;
}

.verifysomm__verify-info {
    display: flex;
    align-items: center;
}

.verifysomm__verify-info>img {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 5px;
}

.verifysomm__verify-btn {
    display: flex;
}

.verifysomm__verify-approve {
    border-radius: 30px;
    background-color: green;
    color: var(--bg-0);
    padding: 5px;
    margin: 0 5px;
}

.verifysomm__verify-reject {
    border-radius: 30px;
    background-color: red;
    color: var(--bg-0);
    padding: 5px;
    margin: 0 5px;
}

.verifysomm__verify-pending {
    border-radius: 50%;
    background-color: yellow;
    color: var(--bg-0);
    color: black;
    margin: 0 5px;
    display: flex;
    align-items: center;
}