.ticket--inactive {
    display: none;
  }

.ticket {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: var(--bg-20);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ticket__container{
    width: 480px;
    display: flex;
    flex-direction: column;
    margin: var(--margin-out);

  }
  .ticket__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 var(--margin-out);
  }
  .ticket__header-title{
      font-size: var(--size-title);
  }

  .ticket__top-close {
    font-size: 1.5rem;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}
.ticket__center{
  margin-left: var(--margin-out);
  display: flex;

}
.ticket__create{
  margin-left: var(--margin-out);
  align-self: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: var(--margin-out);
  display: flex;
  align-items: flex-start;

}

.ticket__button__container{
  color: var(--text-100);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  margin-left: var(--margin-out);
  margin-right: var(--margin-out);
  margin-bottom: 10px;

}


.ticket__button {
  background-color: var(--bg-0);
  border-radius: 30px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.ticket__button__text {
  margin-left: 1rem;
  color: var(--text-100);

}
.ticket_answer{
  display: none;
  margin-left: 20px;

}
.ticket_checkicon{
  margin-right: 1rem;
  border-radius: 100%;
  display: flex;
  color: green;
}
.ticket__progressicon{
  margin-right: 1rem;
  border-radius: 100%;
  background-color: yellow;
  color: white;
  display: flex;
}
