button:hover {
  cursor: pointer;
}
/* 
.commentModal__title {
  color: var(--primary);
} */

.commentPage__container {
  /* padding-top: 80px; */
}

.commentPage__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px var(--margin-out);
}

.commentPage__headerTitle {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.commentPage__close {
  font-size: 2rem;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}
.commentPage__reviewContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: var(--margin-out);
  margin-left: var(--margin-out);
  margin-right: var(--margin-out); */
  margin: 0 var(--margin-out);
  color: var(--text-100);
}

.commentPage__review,
.commentPage__winelistrecomm {
  /* margin-bottom: 20px; */
  margin: 0 var(--margin-out) 20px;
}
.commentPage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: var(--bg-20);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentPage--inactive {
  display: none;
}

.commentPage__container {
  width: 480px;
  display: flex;
  flex-direction: column;
}
.commentPage__commentContainer {
  display: flex;
  margin-bottom: 10px;
  margin-left: var(--margin-out);
  margin-right: var(--margin-out);
  color: var(--text-100);
  border-bottom: var(--text-100) 1px solid;
  flex-direction: column;
  align-items: stretch;
}

.commentPage__commentContainer {
  display: flex;
  flex-direction: row;
  border-bottom: var(--text-100) 1px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: var(--margin-out);
  margin-right: var(--margin-out);
  justify-content: space-between;
}

.commentPage__button {
  display: flex;
  width: 100%;
}

.commentPage__input {
  width: 100%;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow:auto; */
  /* overflow: auto; */
  color: var(--text-100);
  background-color: var(--bg-20);
  font-size: var(--size-txt);
  margin: 0 0 5px 0;
  height: auto;
}

.commentPage__input:hover,
.ccommentPage__input:not(:hover) {
  outline: none;
}

.commentPage__plusIcon {
  font-size: var(--size-txt);
  color: var(-primary);
}

.commentPage__back {
  margin: 10px var(--margin-out);
  color: var(--text-50);
  font-weight: bold;
}

/* 
.commentModal__comment {
  display: flex;
  font-size: var(--size-btn);
  color: var(--text-100);
}

.commentModal__user {
  display: flex;
  align-items: center;
}

.commentModal__userImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid var(--text-100);
}

.commentModal__userInfo {
}

.commentModal__userName {
  font-size: 15px;
  padding-bottom: 2px;
}

.commentModal__userDate {
  font-size: x-small;
}

.commentModal__userIcon > svg {
  margin: 5px;
  color: var(--primary);
  width: 20px;
  height: 20px;
} */
