.filter {
    width: 100vw;
    /* height: 100vh; */
    margin: 0 var(--margin-out) 0 var(--margin-out);
    color: var(--primary);
}

.filter--inactive {
    width: 100vw;
    /* height: 100vh; */
    margin: 0 var(--margin-out) 0 var(--margin-out);
    color: var(--primary);
    transform: translateY(-100%);
}

.filter__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.filter__top-title {
    font-size: 24px;
}

.filter__top-close {
    font-weight: bold;
    position: static;
}

.filter__cond-title {
    font-size: 24px;
    font-weight: bold;
    padding: 3px 0;
}

.filter__cond-search {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: lightgray 1px solid;
}

.filter__cond-search-icon {
    margin: 2px;
    padding: 2px;
}

.filter__cond-search-input {
    width: 80%;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.filter__cond-search-input:hover,
.filter__cond-search-input:not(hover) {
    outline: none;
}