.filter {
    width: 100vw;
    height: 100vh;
    color: var(--primary);
    background-color: var(--bg-0);
    top: 0;
    left: 0;
    position: fixed;
}

.filter--inactive {
    width: 100vw;
    height: 100vh;
    color: var(--primary);
    transform: translateY(-100%);
    transition: 0.5s;
}

.filter__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 var(--margin-out);
}

.filter__top-left {
    visibility: hidden;
}

.filter__top-title {
    font-size: 24px;
}

.filter__top-close {
    font-weight: bold;
    position: static;
}

.filter__cond {
    margin: 0 var(--margin-out) 0 var(--margin-out);
}

.filter__cond-tag,
.filter__cond-price,
.filter__cond-rate {
    margin: 15px 0;
}

.filter__cond-title {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0;
    margin: 5px 0;
}

.filter__cond-search {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: lightgray 1px solid;
    margin-bottom: 10px;
}

.filter__cond-search-icon {
    margin: 2px;
    padding: 2px;
}

.filter__cond-search-input {
    width: 100%;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.filter__cond-search-input:hover,
.filter__cond-search-input:not(hover) {
    outline: none;
}

.filter__cond-price-number,
.filter__cond-rate-number {
    display: flex;
    justify-content: space-between;
    color: var(--text-100);
    font-size: x-small;
}


.MuiBox-root>span {
    color: var(--primary);
    height: 2px;
}

.filter__button {
    margin: 0 var(--margin-out) 0 var(--margin-out);

}

.filter__button-apply {
    background-color: var(--primary);
    color: var(--bg-0);
    border-radius: 30px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}