.becomesommlier {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 610;
  background-color: var(--bg-20);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.becomesommlier--inactive {
  display: none;
}
.becomesommlier_poto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.becomesommlier_body {
  margin: var(--margin-out);
}

.becomesommlier__name {
  margin-left: var(--margin-out);
  align-self: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.becomesommlier__font {
  margin-left: var(--margin-out);
  align-self: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.becomesommlier_subtitle {
  font-weight: bold;
  font-size: var(--size-txt);
  margin-bottom: 10px;
}

.becomesommlier__email,
.becomesommlier__name,
.becomesommlier__pwd,
.becomesommlier__pwd2 {
  margin: 0.5rem 0;
  height: 2rem;
  border-radius: 5rem;
  border-style: none;
  font-size: var(--size-btn);
  padding: 0.5rem 1rem;
}
.becomesommlier__container {
  width: 480px;
  display: flex;
  flex-direction: column;
  margin: var(--margin-out);
}
.becomesommlier__add__poto {
  display: flex;
}
.becomesommlier__section1 {
  display: inline;
}
.becomesommlier__section2 {
  flex-direction: column;
  justify-content: center;
  margin: 0 var(--margin-out) var(--margin-out) var(--margin-out);
}

.becomesommlier__section3 {
}
.becomesommlier__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 var(--margin-out);
}

.becomesommlier__header__title {
  font-size: 2rem;
}

.becomesommlier__top-close {
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.becomesommelier__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-out);
}

.becomesommlier__create {
  /* margin-left: var(--margin-out); */
  align-self: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  /* margin-bottom: var(--margin-out); */
  display: flex;
  align-items: center;
}

.becomesommlier__create__icon {
  font-size: 3rem;
  margin-right: 10px;
}
.becomesommlier__history {
  display: flex;
  color: var(--text-50);
  font-size: var(--size-txt);
  justify-content: flex-end;
  /* margin-right: var(--margin-out); */
}

.becomesommlier_poto {
  border-radius: 30px;
  height: 15rem;
  background-color: var(--text-50);
  margin: var(--margin-out);
  display: flex;
  align-items: center;
  color: var(--bg-0);
  justify-content: center;
}

.becomesommlier__button {
  background-color: var(--primary);
  color: var(--bg-0);
  border-radius: 30px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: var(--margin-out);
}

.becomesommlier__button_unavailable {
  background-color: var(--bg-0);
  color: var(--primary);
  border-radius: 30px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: var(--margin-out);
}

.becomesommlier__section3_font {
  display: flex;
  align-items: center;
  color: var(--text-100);
  font-size: var(--size-txt);
  margin: var(--margin-out);
}
