button:hover {
  cursor: pointer;
}

.detail__wine {
  /* width: calc(100% - 3rem); */
  height: 100%;
  /* margin-top: var(--margin-out); */
  border-radius: 30px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-20);
}

.detail__wineImage {
  height: 100%;
  margin: 0rem 3rem 0rem 0rem;
}

.detail__wineImage > img {
  height: 100%;
}

.detail__wineDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detail__wineTitle {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.detail__grapeTitle {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
}

.detail__wineTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* .detail__wineTags  {
  background-color: var(--bg-0);
} */

.detail__wineRate {
  font-size: var(--size-title);
  color: var(--primary);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.detail__wineRate > svg {
  margin: 0 5px;
}

.detail__winePrice {
  font-size: 2rem;
}

.detail__wineTaste {
  margin-bottom: 20px;
  width: 100%;
}

/* .detail__wineChar {
  height: 24px;
  margin-bottom: 8px;
  white-space: nowrap;
}

.detail__wine-char1,
.detail__wine-char2 {
}

.detail__wine-range {
} */

.detail__wineRangeDiv {
  height: 8px;
  border-radius: 5px;
}

.detail__wineRangeSpan {
  width: 20%;
  left: 80%;
  background-color: var(--primary);
  overflow: hidden;
  display: block;
}

.detail__line {
  border-color: var(--primary);
}

.detail__oneReview {
  background-color: var(--bg-0);
  border-radius: 30px;
  padding: 15px;
}

.detail__reviewTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__reviewStar {
  height: max-content;
}

.detail__reviewStar > span {
  color: var(--primary);
  height: inherit;
  width: inherit;
  /* background-color: var(--bg-20); */
}

.detail__reviewTags {
  display: flex;
  align-items: center;
}

.detail__reviewTagcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin: 5px 0;
}

.detail__reviewIcon--active {
  color: var(--primary);
  margin: 0 5px;
}
.detail__reviewIcon--inactive {
  color: var(--bg-20);
  margin: 0 5px;
}

.detail__reviewInput {
  background-color: transparent;
  border: none;
  /* border: 1px solid black; */
  width: 70%;
  height: 2rem;
  font-size: var(--size-txt);
}

.detail__reviewInput:focus {
  border: none;
}

.detail__reviewPlus {
  color: var(--primary);
  background-color: transparent;
  font-size: var(--size-btn);
  cursor: pointer;
}

.detail__reviewContent {
  border-radius: 30px;
  margin: 10px 0;
  border: 1px solid var(--primary);
  padding: 15px 10px;
}

.detail__reviewPost {
  cursor: pointer;
  border-radius: 30px;
  color: var(--bg-0);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  height: 1.5rem;
  align-items: center;
}

/* 
.tag {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
} */

.detail__wineRecommTitle,
.detail__reviewTitle,
.detail__winelistRecommTitle {
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
  padding: 10px;
}

.detail__wineRecomm,
.detail__review,
.detail__winelistRecomm {
  /* margin-bottom: 20px; */
  margin: 0 var(--margin-out) 20px;
}

.tasteStructure__tasteStructure--15VDn,
.tasteStructure__tasteCharacteristic--1rMFl,
.tasteStructure__progressBar--hjNb2 {
  width: 100%;
}

.tasteStructure__tasteStructure--15VDn,
.tasteStructure__tasteCharacteristic--1rMFl {
  height: 24px;
  margin-bottom: 8px;
  white-space: nowrap;
}

.tasteStructure__tasteStructure--15VDn,
.tasteStructure__tasteCharacteristic--1rMFl,
.tasteStructure__property--loYWN {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.indicatorBar__meter--2t_YL,
.indicatorBar__progress--3aXLX {
  display: block;
  background-color: #ba1628;
  position: absolute;
  overflow: hidden;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: indicatorBar__bounceIn--lAgLM;
  animation-name: indicatorBar__bounceIn--lAgLM;
}

.detail__wineChar {
  margin: 0 var(--margin-out);
}

.detail__wineCharInd {
  display: flex;
  align-items: center;
}
.detail__wineCharName {
  /* margin: 5px; */
  font-weight: light;
  width: 80px;
  display: flex;
  justify-content: center;
}

.detail__wineCharSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: var(--bg-0); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 30px;
  margin: 15px 10px;
}

.detail__wineCharSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* Set a specific slider handle width */
  /* width: 50px;  */
  width: 15%;
  height: 15px; /* Slider handle height */
  border-radius: 30px;
  background: var(--primary); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/* 
.detail__windCharSlider::focused,
.detail__windCharSlider:not(focused) {
  outline: none;
}

input[type="range"]:focus {
  outline: none;
}

.detail__wineChar:focus,
.detail__wineChar:not(focus) {
  outline: none;
}
.detail__wineChar:focus:not(:focus-visible) {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: 0;
}
:focus-visible {
  outline: 0;
} */
