.header {
  /* title */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-20);
  color: var(--primary);
}

.header__menu {
  margin: var(--margin-out);
}

.header__menu:hover {
  cursor: pointer;
}

.header__title {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary);
}

.header__title:hover {
  cursor: pointer;
}

.header__search {
  margin: var(--margin-out);
}

.header__search:hover {
  cursor: pointer;
}
