.sommverify {
  width: 100vw;
  height: 100vh;
}
.sommverify__header {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
  margin: var(--margin-out);
  align-items: center;
}
.sommverify__info {
}

.sommverify__infoImg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.sommverify__infoName {
}

.sommverify__status {
}

.sommverify__verifyApprove {
  border-radius: 30px;
  background-color: green;
  padding: 0.3rem;
}
.sommverify__verifyReject {
  border-radius: 30px;
  background-color: var(--primary);
  padding: 0.3rem;
}
