.sidebar {
  position: fixed;
  z-index: 1;
  transition: 1s;

  width: 40vw;
  height: 100vh;
  background-color: #cd5351;
  color: #f4ded3;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  /* top: 0; */
  /*position: fixed;*/
  /*opacity: 40%;*/
}

.sidebar--inactive {
  position: fixed;
  z-index: 1;
  transition: 1s;

  width: 40vw;
  height: 100vh;
  background-color: #cd5351;
  color: #f4ded3;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  left: -100%;
}
.sidebar-login {
}
.sidebar-login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: 10px;*/
  padding: 0 20px;
}
.sidebar-menu {
  justify-content: space-around;
  padding: 20px;
}
.sidebar-menu-title {
  font-weight: bold;
  font-size: x-large;
}
.sidebar-menu-winelist {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.sidebar-menu-wine {
  display: flex;
  flex-direction: column;
}
