.sidebar {
  position: fixed;
  z-index: 800;
  transition: 1s;

  width: 70vw;
  height: 100vh;
  background-color: var(--primary);
  color: var(--bg-0);
  border-radius: 0 30px 30px 0;
}

.sidebar--inactive {
  transform: translateX(-100%);
  transition: 1s;
}

.sidebar__profileCont {
  display: flex;
  margin: 3.5rem 1.5rem 3rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.sidebar__profile {
  display: flex;
  align-items: center;
}

.sidebar__profile > img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 0.5rem;
}

.sidebar__name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sidebar__icon {
  width: 24px;
  height: 24px;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1.5rem 0 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.sidebar__status > a {
  color: var(--bg-0);
}

.sidebar__header:hover {
  cursor: pointer;
}

.sidebar__close:hover {
  cursor: pointer;
}

.sidebar__close {
  font-size: 1rem;
  margin-top: -0.3rem;
}

.sidebar__register {
  margin: 0.5rem 1.5rem 3rem 1.5rem;
}

.sidebar__register > a {
  color: var(--bg-0);
}

.sidebar__menu {
  justify-content: space-around;
  margin: 1.5rem;
}

.sidebar__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.sidebar__link {
  text-decoration: none;
  color: var(--bg-0);
  font-size: 1.5rem;
}

.sidebar__link > a {
  color: var(--bg-0);
}

.sidebar__hr {
  margin: 1rem 0;
}
