.search {
  background-color: var(--bg-20);
  height: 80px;
  align-items: center;
  transition: 1s;
  position: fixed;
  z-index: 700;
  width: 100%;
}

.search--inactive {
  transform: translateY(-10000%);
  background-color: var(--bg-20);
  height: 80px;
  align-items: center;
  transition: 1s;
  position: fixed;
  z-index: 700;
  width: 100%;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 var(--margin-out);
}
.search__textbar {
  background-color: var(--bg-0);
  border-radius: 30px;
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.search__textbar > svg {
  font-size: larger;
}

.search__text-icon {
  margin: 0 10px;
  color: var(--primary);
}

.search__text-input {
  height: 2rem;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 30px;
  margin: 3px;
  outline: none;
  padding: 0;
}

.search__text-input:hover,
.search__text-input:not(:hover),
.search__text-input:focus {
  outline: none;
  border: none;
}

.search__text-input .search__close {
  color: var(--primary);
  font-weight: bolder;
  font-size: 1.2rem;
}

.search__close:hover {
  cursor: pointer;
}

.search__close > path {
  color: var(--primary);
}

.search__result {
  color: var(--primary);
  border-radius: 0 0 30px 30px;
  background-color: var(--bg-20);
}

.search__result-wine,
.search__result-winelist {
  padding-bottom: 10px;
  margin: 0 var(--margin-out);
}

.search__result-wine > .loader,
.search__result-winelist > .loader {
  margin-top: 0;
}

.search__result-title {
  font-weight: bolder;
  padding-bottom: 5px;
}

.search__result-subtitle {
  font-weight: lighter;
  font-size: smaller;
  margin-bottom: 0.2rem;
}

.search__result-subtitle:hover {
  cursor: pointer;
}

.search__result-subtitle > a {
  color: var(--primary);
}

.search__profile {
  color: var(--primary);
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.search__profile:hover {
  cursor: pointer;
}

.search__profile > svg {
  width: 1rem;
  height: 1rem;
}

.search__image {
  background: gray;
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  margin-right: 0.5rem;
}

.search__name {
}

.search__button {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 30px;
  color: var(--primary);
  border: 0.1rem solid var(--primary);
}
.search__button:hover {
  cursor: pointer;
}

.search__button--filled {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 30px;
  color: var(--primary);
  border: 0.1rem solid var(--primary);
  background-color: var(--primary);
  color: var(--bg-0);
}

.search__profile__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search__followers__font {
  align-self: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  margin-top: var(--margin-out);
  margin-bottom: var(--margin-out);
}

.search__header {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-out);
}
.search__header__selected {
  box-shadow: 10px 10px 5px lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-0);
  color: var(--primary);
  font-size: 1.5rem;
  height: 1rem;
  width: 240px;
  border: 1px solid;
  border-color: var(--primary);
  border-style: none;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
.search__header__unselected {
  color: var(--bg-0);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: var(--primary);
  color: var(--bg-0);
  font-size: 1.5rem;
  height: 1rem;
  width: 240px;
  border-color: var(--primary);
  border-style: none;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
