.footer {
  font-family: "Rounded Elegance";
  padding: var(--margin-out) 0 var(--margin-out) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background: var(--bg-100);
}

.footer__title-cont {
  margin: 0 var(--margin-out) 1rem var(--margin-out);
}

.footer__title {
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.footer__title:hover {
  cursor: pointer;
}

.footer__cont {
  display: flex;
  flex-direction: row;
}

.footer__section {
  margin: 0 2rem;
  color: var(--primary);
  font-size: 1.2rem;
}

.footer__link {
  color: var(--text-100);
  font-size: 1rem;
}

.footer__link > a {
  color: var(--text-100);
}

.footer__link:hover {
  cursor: pointer;
}
