.search {
    background-color: #F5F2F0;
    border-radius: 0 0 30px 30px;
    height: 80px;
    display: flex;
    align-items: center;

}

.search__bar {
    display: flex;
    align-items: center;
}

.search__textbar {
    background-color: var(--bg-0);
    border-radius: 30px;
    width: 80vw;
    margin: 0 var(--margin-out);
    height: 2rem;
    display: flex;
    align-items: center;
}

.search__text-icon {
    margin: 0 10px;
    color: var(--primary);
}

.search__text-input {
    height: 2rem;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 30px;
    margin: 3px;
    outline: none;
}

.search__text-input:hover,
.search__text-input:not(:hover) {
    outline: none;
}

.search__text-input: .search__close {
    color: var(--primary);
    font-weight: bolder;
    font-size: 1.2rem;
}

.search__close:hover {
    cursor: pointer;
}