.wineListDetail__title:hover,
.wineListDetail__subTitle:hover,
.wineListDetail__like:hover,
.wineListDetail__leftArrow:hover,
.wineListDetail__rightArrow:hover,
.wineListDetail__carousel > img:hover {
  cursor: pointer;
}

.wineListDetail--inactive {
  visibility: hidden;
}

.wineListDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-20);
  margin: var(--margin-out);
  max-width: calc(100% - 4rem);
}

.wineListDetail__firstCont {
  display: flex;
  justify-content: space-between;
}

.wineListDetail__title {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
}

.wineListDetail__like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  background-color: var(--bg-100);
  margin-right: 0.5rem;
  color: var(--bg-0);
}

.wineListDetail__like--filled {
  color: var(--primary);
}

.wineListDetail__carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: ;
  margin: var(--margin-out) 0;
}

.wineListDetail__image {
  width: 1000px;
}

.wineListDetail__carousel > div > img {
  height: 256px;
}

.wineListDetail__scrollCont {
  display: flex;
  color: var(--primary);
  justify-content: space-around;
  align-items: center;
}

.wineListDetail__leftArrow,
.wineListDetail__rightArrow {
  font-size: 2rem;
}

.wineListDetail__wineName {
  font-size: 1.5rem;
  font-weight: bold;
}

.wineListDetail__detail {
  width: calc(100% - 3rem);
  height: 100%;
  margin-top: var(--margin-out);
  border-radius: 30px;
  border: solid 1px var(--primary);
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  background-color: var(--bg-20);
  flex-direction: column;
}

.wineListDetail__tags {
  width: 50%;
  align-self: baseline;
}

.wineListDetail__rate {
  font-size: var(--size-title);
  color: var(--primary);
  font-weight: bold;
}

.wineListDetail__price {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.wineListDetail__comment {
  font-size: 1.5rem;
  width: 100%;
}
