input:focus {
  outline: 1px solid var(--text-50);
}

.login__login:hover,
.login__register:hover,
.login__forgot:hover {
  cursor: pointer;
}

.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  transition: 1s;
  background-color: var(--bg-20);
  transform: translateY(-100%);
  color: var(--primary);
  display: flex;
  flex-direction: column;
}

.login--inactive {
  transform: translateY(0);
}

.login__header {
  display: flex;
  margin: 2rem;
  font-size: 2rem;
  justify-content: space-between;
}

.login__back:hover {
  cursor: pointer;
}

.login__home > a {
  color: var(--primary);
  font-weight: bold;
}

.login__home:hover {
  cursor: pointer;
}

.login__title {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
}

.login__id,
.login__pw,
.login__login,
.login__register {
  margin: 0.5rem 2rem;
  height: 2.5rem;
  border-radius: 5rem;
  border-style: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.login__forgot {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
  color: var(--text-50);
  font-size: 1.5rem;
}

.login__login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--bg-0);
  font-size: 1.5rem;
}

.login__login > a {
  color: var(--bg-0);
}

.login__register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-0);
  border: 1px var(--primary) solid;
  color: var(--primary);
  font-size: 1.5rem;
}
