.registertag {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-20);
    /* transform: translateY(-100%); */
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--primary);
    flex-direction: column;
}

.registertag__header {
    display: flex;
    margin: var(--margin-out);
    font-size: 2rem;
    justify-content: space-between;
}

.registertag__back:hover {
    cursor: pointer;
}

.registertag__home>a {
    color: var(--primary);
    font-weight: bold;
}

.registertag__home:hover {
    cursor: pointer;
}

.registertag__main {
    margin: 0 var(--margin-out);
}

.registertag__title {
    font-size: var(--size-title);
    font-weight: bold;
    /* margin: var(--margin-out) 0; */
}

.registertag_subtitle {
    font-size: var(--size-txt);
    margin-bottom: var(--margin-out);
}

.registertag__main-content {
    display: flex;
    flex-direction: column;
}

.registertag__main-search {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: lightgray 1px solid;
    margin-bottom: 10px;
    height: 2rem;
}

.registertag__main-search-icon {
    margin: 2px;
    padding: 2px;
}

.registertag__main-search-input {
    width: 100%;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: var(--size-btn);
    background-color: transparent;
}

.registertag__main-search-input:hover,
.registertag__main-search-input:not(hover),
.registertag__main-search-input:focus {
    outline: none;
    border: none;
    caret-color: var(--primary);
}

.registertag__explore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border: 1px var(--primary) solid;
    font-size: var(--size-btn);
    height: var(--size-btn);
    padding: 0.5rem 1rem;
    margin: var(--margin-out) 0;
    border-radius: 30px;
    color: var(--bg-0);
}

.registertag__explore>a {
    color: var(--bg-0);
}